<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mfthemefo>
            <color_scheme>
                <theme_color>
                    <primary>1a1a1a</primary>
                    <primary_alt>f5f5f5</primary_alt>
                    <secondary>ba933e</secondary>
                </theme_color>
                <basic>
                    <page_background_color>ffffff</page_background_color>
                    <text_color>333333</text_color>
                    <border_color_base>f1f1f1</border_color_base>
                    <sidebar_background_color>f5f5f5</sidebar_background_color>
                </basic>
                <primary_button>
                    <primary_button_bg_color>ba933e</primary_button_bg_color>
                    <primary_button_bg_color_hover>1a1a1a</primary_button_bg_color_hover>
                    <primary_button_color>ffffff</primary_button_color>
                    <primary_button_color_hover>ffffff</primary_button_color_hover>
                    <primary_button_border_color>ba933e</primary_button_border_color>
                    <primary_button_border_color_hover>1a1a1a</primary_button_border_color_hover>
                </primary_button>
                <secondary_button>
                    <button_bg_color>343434</button_bg_color>
                    <button_bg_color_hover>e2e2e2</button_bg_color_hover>
                    <button_color>ffffff</button_color>
                    <button_color_hover>555555</button_color_hover>
                    <button_border_color>343434</button_border_color>
                    <button_border_color_hover>343434</button_border_color_hover>
                </secondary_button>
                <link>
                    <link_color>1a1a1a</link_color>
                    <link_color_hover>ba933e</link_color_hover>
                </link>
                <icon>
                    <icon_color>7d7d7d</icon_color>
                    <icon_color_hover>1a1a1a</icon_color_hover>
                </icon>
                <icon_header>
                    <icon_header_color>8f8f8f</icon_header_color>
                    <icon_header_color_hover>333333</icon_header_color_hover>
                </icon_header>
                <input>
                    <input_background_color>ffffff</input_background_color>
                    <input_placeholder_color>c2c2c2</input_placeholder_color>
                    <input_color>333333</input_color>
                    <input_border_color>f1f1f1</input_border_color>
                </input>
                <header>
                    <header_panel_wrapper_bg_color>f5f5f5</header_panel_wrapper_bg_color>
                    <header_panel_wrapper_color>1a1a1a</header_panel_wrapper_color>
                    <header_bg_color>ffffff</header_bg_color>
                </header>
                <navigation>
                    <nav_bg_color>e6e6e6</nav_bg_color>
                    <nav_item_color>575757</nav_item_color>
                    <nav_item_color_hover>333333</nav_item_color_hover>
                    <sub_menu_item_bg_color>ffffff</sub_menu_item_bg_color>
                    <sub_menu_item_bg_color_hover>f5f5f5</sub_menu_item_bg_color_hover>
                    <sub_menu_item_color>575757</sub_menu_item_color>
                    <sub_menu_item_color_hover>1a1a1a</sub_menu_item_color_hover>
                </navigation>
                <product_items>
                    <product_items_bg_color>ffffff</product_items_bg_color>
                    <product_items_color>333333</product_items_color>
                    <product_items_border_color>f3f3f3</product_items_border_color>
                    <product_items_border_color_hover>c2c2c2</product_items_border_color_hover>
                </product_items>
                <swatch>
                    <attr_swatch_option_color>868686</attr_swatch_option_color>
                    <swatch_option_text_color>646464</swatch_option_text_color>
                    <swatch_option_hover_color>333333</swatch_option_hover_color>
                </swatch>
                <price>
                    <price_color>333333</price_color>
                    <old_price_color>868686</old_price_color>
                </price>
                <subscribe>
                    <subscribe_bg_color>e6e6e6</subscribe_bg_color>
                    <subscribe_color>575757</subscribe_color>
                </subscribe>
                <footer>
                    <footer_bg_color>ffffff</footer_bg_color>
                </footer>
                <copyright>
                    <copyright_bg_color>343434</copyright_bg_color>
                    <copyright_color>cdcdcd</copyright_color>
                </copyright>
            </color_scheme>
            <gallery>
                <thumbs_direction>horizontal</thumbs_direction>
            </gallery>
        </mfthemefo>
    </default>
</config>
