<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_mfthemefo">
        <observer name="custom_admin_system_config_changed_section_mfthemefo" instance="Magefan\ThemeOptimized\Observer\OnThemeConfigSave"/>
    </event>
</config>
