//
//  Magefan FO Theme Colors
//  ____________________________________________

// Theme Colors
@theme__color__primary: MFScolor (theme_color/primary)MFE;
@theme__color__primary-alt: MFScolor (theme_color/primary_alt)MFE;
@theme__color__secondary: MFScolor (theme_color/secondary)MFE;

// Color nesting
// Basic colors
@page__background-color: MFScolor (basic/page_background_color)MFE;
@primary__color: MFScolor (basic/text_color)MFE;
@text__color: MFScolor (basic/text_color)MFE;
@border-color__base: MFScolor (basic/border_color_base)MFE;
@sidebar__background-color: MFScolor (basic/sidebar_background_color)MFE;

// Primary buttons
@button-primary__background: MFScolor (primary_button/primary_button_bg_color)MFE;
@button-primary__hover__background: MFScolor (primary_button/primary_button_bg_color_hover)MFE;
@button-primary__color: MFScolor (primary_button/primary_button_color)MFE;
@button-primary__hover__color: MFScolor (primary_button/primary_button_color_hover)MFE;
@button-primary__border: 1px solid MFScolor (primary_button/primary_button_border_color)MFE;
@button-primary__hover__border: 1px solid MFScolor (primary_button/primary_button_border_color_hover)MFE;

// Buttons
@button__background: MFScolor (secondary_button/button_bg_color)MFE;
@button__hover__background: MFScolor (secondary_button/button_bg_color_hover)MFE;
@button__color: MFScolor (secondary_button/button_color)MFE;
@button__hover__color: MFScolor (secondary_button/button_color_hover)MFE;
@button__border: 1px solid MFScolor (secondary_button/button_border_color)MFE;
@button__hover__border: 1px solid MFScolor (secondary_button/button_border_color_hover)MFE;

// Link
@link__color: MFScolor (link/link_color)MFE;
@link__hover__color: MFScolor (link/link_color_hover)MFE;

// Icons
@icon_color: MFScolor (icon/icon_color)MFE;
@icon_color_hover: MFScolor (icon/icon_color_hover)MFE;

// All Icons
@icon-font__color: MFScolor (icon/icon_color)MFE;
@icon-font__color-hover: MFScolor (icon/icon_color_hover)MFE;
@_icon-font-color-active: @icon-font__color-hover;

// Form
// @form-element-input__background: @color-gray89;
@form-element-input__background: MFScolor (input/input_background_color)MFE;
@form-element-input__border-color: @border-color__base;
@form-element-input__border-color: MFScolor (input/input_border_color)MFE;
// @form-element-input__border: 1px solid @form-element-input__border-color;
@form-element-input__color: MFScolor (input/input_color)MFE;
// Placeholder
@form-element-input-placeholder__color: MFScolor (input/input_placeholder_color)MFE;
// Autofill
@form-element_autofill__background: MFScolor (input/input_background_color)MFE;
@form-element_autofill__color: MFScolor (input/input_color)MFE;

// Header
@header__background-color: MFScolor (header/header_bg_color)MFE;

// Header Top Panel
@header_panel_wrapper: MFScolor (header/header_panel_wrapper_bg_color)MFE;
@header_panel_wrapper_color: MFScolor (header/header_panel_wrapper_color)MFE;

// Header icons
@header-icons-color: MFScolor (icon_header/icon_header_color)MFE;
@header-icons-color-hover: MFScolor (icon_header/icon_header_color_hover)MFE;

// Navigation Mobile
@navigation-level0-item__color: MFScolor (navigation/nav_item_color)MFE;
@navigation-level0-item__hover__color: MFScolor (navigation/nav_item_color_hover)MFE;
// Submenu Mobile
@submenu-item__color: MFScolor (navigation/nav_item_color)MFE;

// Navigation Desktop
@navigation__background: MFScolor (navigation/nav_bg_color)MFE;
@navigation-desktop-level0-item__color: MFScolor (navigation/nav_item_color)MFE;
@navigation-desktop-level0-item__hover__color: MFScolor (navigation/nav_item_color_hover)MFE;
@navigation-desktop-level0-item__active__color: MFScolor (navigation/nav_item_color_hover)MFE;

// Submenu Desktop
@submenu-desktop-item__color: MFScolor (navigation/sub_menu_item_color)MFE;
@submenu-desktop-item__hover__color: MFScolor (navigation/sub_menu_item_color_hover)MFE;
@submenu-desktop-item__background: MFScolor (navigation/sub_menu_item_bg_color)MFE;
@submenu-desktop-item__hover__background: MFScolor (navigation/sub_menu_item_bg_color_hover)MFE;

// Breadcrumbs
@_breadcrumbs-link-color: MFScolor (basic/text_color)MFE;
@_breadcrumbs-link-color-visited: MFScolor (basic/text_color)MFE;
@_breadcrumbs-current-color: MFScolor (basic/text_color)MFE;

// Product Items
@product_items_bg_color: MFScolor (product_items/product_items_bg_color)MFE;
@product_items_color: MFScolor (product_items/product_items_color)MFE;
@product_items_border_color: MFScolor (product_items/product_items_border_color)MFE;
@product_items_border_color_hover: MFScolor (product_items/product_items_border_color_hover)MFE;
@product_items_border_radius: MFScolor (product_items/product_items_border_radius)MFE;

// Swatch
@attr-swatch-option__color: MFScolor (swatch/attr_swatch_option_color)MFE;
@swatch-option-text__color: MFScolor (swatch/swatch_option_text_color)MFE;
@swatch-option__hover__color: MFScolor (swatch/swatch_option_hover_color)MFE;

// Price
@price_color: MFScolor (price/price_color)MFE;
@old_price_color: MFScolor (price/old_price_color)MFE;

// Tabs
@tab-control__background-color: @page__background-color;
@tab-control__color: @navigation-desktop-level0-item__color;
@tab-control__hover__color: @navigation-desktop-level0-item__hover__color;
@tab-control__active__color: @navigation-desktop-level0-item__hover__color;


// Layered Navigation
@filter-title-bg-color-active: MFScolor (layered_navigation/filter_title_bg_color_active)MFE;
@filter-title-color: MFScolor (layered_navigation/filter_title_color)MFE;
@filter-title-color-active: MFScolor (layered_navigation/filter_title_color_active)MFE;
@filter-content-bg-color: MFScolor (layered_navigation/filter_content_bg_color)MFE;
@filter-content-item-color: MFScolor (layered_navigation/filter_content_item_color)MFE;
@filter-content-item-color-hover: MFScolor (layered_navigation/filter_content_item_color_hover)MFE;
@filter-content-item-bg-color: MFScolor (layered_navigation/filter_content_item_bg_color)MFE;
@filter-content-item-bg-hover: MFScolor (layered_navigation/filter_content_item_bg_hover)MFE;

// Subscribe
@subscribe-bg-color: MFScolor (subscribe/subscribe_bg_color)MFE;
@subscribe-color: MFScolor (subscribe/subscribe_color)MFE;

// Footer
@footer__background-color: MFScolor (footer/footer_bg_color)MFE;

// Copyright
@copyright_bg_color: MFScolor (copyright/copyright_bg_color)MFE;
@copyright_color: MFScolor (copyright/copyright_color)MFE;
